#create {
    border: 2px solid #00FFFF;
    border-radius: 15px;
    background: white;
    color: black;
    padding: 10px; 
    transition: all 0.2s ease 0s;
  }
  
#create:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: translateY(-5px); 
}

#create:active {
    background: black;
    color: white;
    cursor: pointer;
    transform: translateY(3px); 
}

#join {
  margin-left: 20px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 15px;
}