#create {
    border: 2px solid black;
    border-radius: 15px;
    background: #00FFFF;
    padding: 10px; 
    transition: all 0.2s ease 0s;
  }
  
#create:hover {
    background: #0096FF;
    color: black;
    cursor: pointer;
    transform: translateY(-5px); 
}

#join {
  margin-left: 20px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 15px;
}