* {
    font-family: 'Ubuntu', sans-serif;
    margin: auto auto;
}

#title {
    margin-top: 10px; 
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 350%;
}

#create {
    border: 2px solid blue;
    border-radius: 15px;
    background: whitesmoke;
    color: black;
    padding: 10px; 
    transition: all 0.2s ease 0s;
}

#create:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: translateY(-5px); 
}

#create:active {
    background: black;
    color: white;
    cursor: pointer;
    transform: translateY(3px); 
}
  
#join {
    margin-left: 20px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    background: whitesmoke;
}

#buttons {
    text-align: center;
}